# NOTE: when upgrading requirements here you may have to rebuild and push some
# Docker images. See each Dockerfile for details on how to do that.
numpy
torch>=2.0
einops
mosaicml@git+https://github.com/allenai/composer.git@Torch2
torchmetrics
tokenizers
click
rich
cached-path
beaker-gantry
omegaconf
wandb
# Can't install these on a CPU-only environment:
# triton
# flash-attn
logzio-python-handler
