# NOTE: when upgrading requirements here, you may have to rebuild some Docker images.
# See each Dockerfile for details.
numpy
torch
mosaicml
torchmetrics
tokenizers
click
rich
cached-path
beaker-gantry
