# NOTE: when upgrading requirements here you may have to rebuild and push some
# Docker images. See each Dockerfile for details on how to do that.
numpy
torch
mosaicml
torchmetrics
tokenizers
click
rich
cached-path
beaker-gantry
omegaconf
