absl-py==1.4.0
accelerate==0.19.0
ai2-catwalk @ git+https://github.com/allenai/catwalk.git@777b387f93b9b6ad9f2c0f33b5c2f3e352b25bae
ai2-tango @ git+https://github.com/allenai/tango.git@3a196882e2acf551b61f84cab8f58ee024d3ddee
aiofiles==23.1.0
aiohttp==3.8.4
aiosignal==1.3.1
alabaster==0.7.13
altair==5.0.1
annotated-types==0.5.0
antlr4-python3-runtime==4.9.3
anyio==3.7.1
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asttokens==2.2.1
async-lru==2.0.4
async-timeout==4.0.2
attrs==23.1.0
auto-gptq==0.2.1
Babel==2.12.1
backcall==0.2.0
base58==2.1.1
beaker-gantry==0.17.2
beaker-py==1.20.0
beautifulsoup4==4.12.2
bettermap==1.3.1
black==23.3.0
bleach==6.0.0
blessed==1.20.0
blis==0.7.9
boltons==23.0.0
boto3==1.26.149
botocore==1.29.149
brotlipy==0.7.0
cached-path==1.3.4
cachetools==5.3.1
catalogue==2.0.8
certifi @ file:///croot/certifi_1671487769961/work/certifi
cffi @ file:///croot/cffi_1670423208954/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click==8.1.6
click-help-colors==0.9.1
cmake==3.26.3
codecarbon==2.2.3
colorama==0.4.6
comm==0.1.4
conda==23.1.0
conda-content-trust @ file:///tmp/abs_5952f1c8-355c-4855-ad2e-538535021ba5h26t22e5/croots/recipe/conda-content-trust_1658126371814/work
conda-package-handling @ file:///croot/conda-package-handling_1672865015732/work
conda_package_streaming @ file:///croot/conda-package-streaming_1670508151586/work
confection==0.0.4
contourpy==1.1.0
cryptography @ file:///croot/cryptography_1673298753778/work
cycler==0.11.0
cymem==2.0.7
datasets==2.12.0
debugpy==1.6.7
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.14
dill==0.3.6
docker==6.1.3
docker-pycreds==0.4.0
docutils==0.19
efficiency-benchmark @ git+https://github.com/haopeng-nlp/efficiency-benchmark@151ae5e90c0c680659dbfc680b93059fd367a504
exceptiongroup==1.1.2
execnet==1.9.0
executing==1.2.0
face==20.1.1
fairscale==0.4.13
fastapi==0.100.0
fastjsonschema==2.18.0
ffmpy==0.3.1
filelock==3.9.1
flake8==6.0.0
flaky==3.7.0
fonttools==4.41.0
fqdn==1.5.1
frozenlist==1.3.3
fschat==0.2.20
fsspec==2023.5.0
ftfy==6.1.1
furo==2022.12.7
fuzzywuzzy==0.18.0
gitdb==4.0.10
GitPython==3.1.32
glob2==0.7
glom==23.3.0
google-api-core==2.11.0
google-auth==2.19.1
google-cloud-core==2.3.2
google-cloud-datastore==2.16.1
google-cloud-storage==2.9.0
google-crc32c==1.5.0
google-resumable-media==2.5.0
googleapis-common-protos==1.59.0
gpustat==1.1
gradio==3.38.0
gradio_client==0.2.10
grpcio==1.56.0
grpcio-status==1.48.2
h11==0.14.0
-e git+https://github.com/allenai/LLM.git@3e8163e76e0955ef87fb4a6becce3361d8fc4467#egg=hf_olmo&subdirectory=hf_olmo
httpcore==0.17.3
httpx==0.24.1
huggingface-hub==0.16.4
idna @ file:///croot/idna_1666125576474/work
imagesize==1.4.1
importlib-metadata==6.0.1
iniconfig==2.0.0
ipykernel==6.25.0
ipython==8.14.0
ipython-genutils==0.2.0
ipywidgets==8.1.0
isoduration==20.11.0
isort==5.12.0
jaraco.classes==3.2.3
jedi==0.19.0
jeepney==0.8.0
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.2.0
json5==0.9.14
jsonpointer==2.4
jsonschema==4.18.6
jsonschema-specifications==2023.7.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.7.0
jupyter-lsp==2.2.0
jupyter_client==8.3.0
jupyter_core==5.3.1
jupyter_server==2.7.0
jupyter_server_terminals==0.4.4
jupyterlab==4.0.4
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.8
jupyterlab_server==2.24.0
keyring==23.13.1
kiwisolver==1.4.4
langcodes==3.3.0
linkify-it-py==2.0.2
lit==16.0.5.post0
livereload==2.6.3
logzio-python-handler==4.0.2
lxml==4.9.2
markdown-it-py==2.2.0
markdown2==2.4.9
MarkupSafe==2.1.3
matplotlib==3.7.2
matplotlib-inline==0.1.6
mccabe==0.7.0
mdit-py-plugins==0.3.3
mdurl==0.1.2
mistune==3.0.1
more-itertools==9.1.0
mpmath==1.3.0
msgpack==1.0.5
msgspec==0.15.1
multidict==6.0.4
multiprocess==0.70.14
murmurhash==1.0.9
mypy==1.3.0
mypy-extensions==1.0.0
myst-parser==0.18.1
nbclient==0.8.0
nbconvert==7.7.3
nbformat==5.9.2
necessary==0.4.2
nest-asyncio==1.5.7
networkx==3.1
nh3==0.2.14
ninja==1.11.1
nltk==3.8.1
notebook==7.0.2
notebook_shim==0.2.3
numpy==1.24.3
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-ml-py==12.535.77
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
olmo==0.1.0
omegaconf==2.3.0
oocmap==0.3
openai==0.27.8
opentelemetry-api==1.18.0
opentelemetry-instrumentation==0.32b0
opentelemetry-instrumentation-logging==0.32b0
orjson==3.9.2
overrides==7.3.1
packaging==23.1
pandas==2.0.2
pandocfilters==1.5.0
parso==0.8.3
pathspec==0.11.1
pathtools==0.1.2
pathy==0.10.1
peft==0.4.0
petname==2.6
pexpect==4.8.0
pickleshare==0.7.5
Pillow==10.0.0
pkginfo==1.9.6
platformdirs==3.10.0
pluggy @ file:///tmp/build/80754af9/pluggy_1648024709248/work
portalocker==2.7.0
preshed==3.0.8
prometheus-client==0.17.1
prompt-toolkit==3.0.39
proto-plus==1.22.3
protobuf==3.20.0
psutil==5.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0
py-cpuinfo==9.0.0
pyarrow==12.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycodestyle==2.10.0
pycosat @ file:///croot/pycosat_1666805502580/work
pycountry==22.3.5
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydantic==2.1.1
pydantic_core==2.4.0
pydub==0.25.1
pyflakes==3.0.1
Pygments==2.15.1
pynvml==11.5.0
pyOpenSSL @ file:///opt/conda/conda-bld/pyopenssl_1643788558760/work
pyparsing==3.0.9
pyre-extensions==0.0.29
pyserial==3.5
PySocks @ file:///home/builder/ci_310/pysocks_1640793678128/work
pytest==7.3.1
pytest-forked==1.6.0
pytest-sphinx==0.5.0
pytest-xdist==3.3.1
python-dateutil==2.8.2
python-json-logger==2.0.7
python-multipart==0.0.6
pytz==2023.3
PyYAML==6.0.1
pyzmq==25.1.0
qtconsole==5.4.3
QtPy==2.3.1
ray==2.6.0
readme-renderer==37.3
referencing==0.30.1
regex==2023.6.3
requests @ file:///opt/conda/conda-bld/requests_1657734628632/work
requests-toolbelt==1.0.0
requirements-parser==0.5.0
responses==0.18.0
retry==0.9.2
rfc3339-validator==0.1.4
rfc3986==2.0.0
rfc3986-validator==0.1.1
rich==13.5.2
rjsonnet==0.5.2
rouge==1.0.1
rouge-score==0.1.2
rpds-py==0.9.2
rsa==4.9
ruamel.yaml @ file:///croot/ruamel.yaml_1666304550667/work
ruamel.yaml.clib @ file:///croot/ruamel.yaml.clib_1666302247304/work
s3transfer==0.6.1
sacrebleu==2.3.1
sacremoses==0.0.53
safetensors==0.3.1
scikit-learn==1.2.2
scipy==1.10.1
SecretStorage==3.3.3
semantic-version==2.10.0
Send2Trash==1.8.2
sentencepiece==0.1.98
sentry-sdk==1.25.1
setproctitle==1.3.2
shortuuid==1.0.11
six @ file:///tmp/build/80754af9/six_1644875935023/work
smart-open==6.3.0
smashed==0.21.3
smmap==5.0.0
sniffio==1.3.0
snowballstemmer==2.2.0
soupsieve==2.4.1
spacy==3.5.3
spacy-legacy==3.0.12
spacy-loggers==1.0.4
Sphinx==5.3.0
sphinx-autobuild==2021.3.14
sphinx-autodoc-typehints==1.23.0
sphinx-basic-ng==1.0.0b1
sphinx-copybutton==0.5.1
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sqlitedict==2.1.0
srsly==2.4.6
stack-data==0.6.2
starlette==0.27.0
svgwrite==1.4.3
sympy==1.12
tabulate==0.9.0
terminado==0.17.1
thinc==8.1.10
threadpoolctl==3.1.0
tiktoken==0.4.0
tinycss2==1.2.1
tokenizers==0.13.3
tomli==2.0.1
toolz @ file:///croot/toolz_1667464077321/work
torch==2.0.1
torchmetrics==0.11.1
tornado==6.3.2
tqdm @ file:///opt/conda/conda-bld/tqdm_1664392687731/work
traitlets==5.9.0
transformers==4.28.1
triton==2.0.0
trouting==0.3.3
twine==4.0.2
typer==0.7.0
types-setuptools==67.8.0.0
typing-inspect==0.9.0
typing_extensions==4.7.1
tzdata==2023.3
uc-micro-py==1.0.2
uri-template==1.3.0
urllib3 @ file:///croot/urllib3_1673575502006/work
uvicorn==0.23.1
vllm==0.1.2
wandb==0.14.2
wasabi==1.1.2
wavedrom==2.0.3.post3
wcwidth==0.2.6
webcolors==1.13
webencodings==0.5.1
websocket-client==1.6.1
websockets==11.0.3
wget==3.2
widgetsnbextension==4.0.8
wrapt==1.15.0
xformers==0.0.20
xxhash==3.2.0
yarl==1.9.2
zipp==3.15.0
zstandard @ file:///opt/conda/conda-bld/zstandard_1663827383994/work
